<div
  class="flex w-full items-center justify-between border-b-2 shadow-sm">
  <ul class="m-0 flex list-none items-center overflow-x-auto p-4 font-medium">
    <li class="px-2">
      <span class="pi pi-database"></span>
    </li>
    @for (breadcrumb of this.breadcrumbs(); track breadcrumb.uuid) {
      <li class="px-2">
        <span class="text-surface-400">/</span>
      </li>
      <li class="px-2">
        <a
          [routerLink]="['/domain/topic', breadcrumb.uuid]"
          class="cursor-pointer whitespace-nowrap text-black transition-all hover:opacity-75">
          {{ breadcrumb.title }}
        </a>
      </li>
    }
  </ul>
  <div class="mr-2 flex items-center gap-2">
    <p-button
      loadingIcon="pi pi-spin pi-spinner"
      [loading]="this.isSaving()"
      outlined
      label="Aktualisieren"
      pTooltip=""
      tooltipPosition="bottom"
      (click)="this.saveTopic()"
      [disabled]="!this.topicForm.valid" />
    <p-button
      outlined
      label="Schließen"
      text
      severity="secondary"
      pTooltip=""
      tooltipPosition="bottom"
      (click)="this.discardTopic()" />
    <p-button
      severity="danger"
      icon="pi pi-trash"
      [text]="true"
      pTooltip="Löschen"
      tooltipPosition="bottom"
      (click)="this.deleteTopic($event)" />
  </div>
</div>
<div class="flex-1 px-6 pt-6 overflow-auto h-full" [formGroup]="this.topicForm">
  <div
    class="mb-4 flex flex-col gap-2 border-l-[8px] border-primary px-6 text-2xl font-medium text-surface-900">
    <label for="title" class="text-base">Titel</label>
    <input
      id="title"
      class="w-3/4"
      pInputText
      formControlName="title"
      placeholder="Geben Sie einen Titel für diese Seite ein" />
  </div>

  <p-editor placeholder="Eine Allgemeine Beschreibung dieses Themenbereiches…" formControlName="description" [style]="{ height: '300px', fontSize: '16px' }" />

  <p-divider></p-divider>

  <div class="flex items-center justify-between pt-12">
    <div>
      <h4 class="text-xl font-medium text-surface-900">Dokumente</h4>
      <p class="mt-2 leading-6 text-surface-700">Untertitle</p>
    </div>
    <p-splitbutton
      (onClick)="createFile()"
      severity="secondary"
      label="Dokument hinzufügen"
      [model]="items" />
  </div>
  <div
    class="mt-4 grid grid-cols-[repeat(auto-fill,minmax(210px,2fr))] justify-items-start gap-6">
    @for (file of this.topic()?.documents; track file.uuid) {
      <app-topic-document-item
        [topic]="topic()!"
        [file]="file"
        [editMode]="true"></app-topic-document-item>
    }
  </div>
</div>
